<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
  <style>
    .navbar {
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Add custom styles for the navigation bar and search bar */
    .navbar a {
     text-decoration: none;
      
    }

    .navbar .navbar-right {
      float: right;
    }

    body {
      color: #000000;
      margin: 0;
      padding: 0;
    }

    .navbar .navbar-right {
      float: right;
    }
    .navbar a{
      text-decoration: none !important;
    }
    /* Add custom styles for the main content */
    .main-content {
      padding: 15% 0;
      /* Adjust vertical padding */
      text-align: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      /* Use viewport height for full-screen background */
    }

    .main-content h1 {
      margin-top: 0;
      font-size: 3rem;
      /* Increase font size */
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      /* Add text shadow for better readability */
    }

    .card {
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  </style>
  </head>

  <body class="bg-light">
     <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> KGN<i class="bi bi-2-circle-fill"></i>HAND</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link " href="/"><i class="bi bi-house-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer_auth/productsForm"><i class="bi bi-bag-fill"></i> Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="bi bi-gear-fill"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="bi bi-person-lines-fill"></i> Contact Us</a>
        </li>
      </ul>

      <form class="d-flex">
        <div class="container-fluid">
          <div class="navbar-right">

            <a href="/loginform" class="nav-item link-dark"><i class="bi bi-box-arrow-in-right"></i> Sign In</a>
            <a> | </a>
            <a href="/registerForm" class="nav-item link-dark"> Sign Up!</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-3">
          <div class="card">
            <img
              src="https://scontent.fbkk5-8.fna.fbcdn.net/v/t39.30808-6/358140223_2012375742436021_3893854973203067204_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFQpV2ZJ7w8Z0JiXYB5PVw0eM7c5tAKTMx4ztzm0ApMzI6-0pTN0CEa6PA6SH6tRFNJP8Yv76P-Sz1ay9VSp5yI&_nc_ohc=vE7RL4nXZ8QAX-plFPV&_nc_ht=scontent.fbkk5-8.fna&oh=00_AfBI8HUgamtNUV3WaGZesziN2AQWRAQRCPY7WXSC94Cl3g&oe=64E8498A"
              class="card-img-top img-fluid" alt="Profile Image" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">นายสุรพัศ วงศรี (คิม)</h5>
              <p class="card-text">คณะ : วิทยาศาสตร์และเทคโนโลยี </p>
              <p class="card-text">รหัสนักศึกษา : 116410906112-0</p>
              <p class="card-text">เบอร์โทร : 0943718956</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t1.15752-9/367975502_1255553111812906_7138796344858812586_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGWLjmG9v38tHaneWrAZ95RNCE6IObqbtw0ITog5upu3PLur0RPPGJ_KaH5qFAsniTkiHHcgRwIGSY8Pqhsg7us&_nc_ohc=2nbtbM3hhbMAX_9ts5C&_nc_ht=scontent.fbkk28-1.fna&oh=03_AdQJiEj1FWkVwxKEJVPKFHIYxl-4KeXCH9pEAsSZ-vpzgQ&oe=650C3D40"
              class="card-img-top img-fluid" alt="Profile Image" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">นายธนดล ไหมสมบุญ (ไกด์)</h5>
              <p class="card-text">คณะ : วิทยาศาสตร์และเทคโนโลยี</p>
              <p class="card-text">รหัสนักศึกษา : 116410906080-9</p>
              <p class="card-text">เบอร์โทร : 0981329496</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t39.30808-6/317076275_8228277903913518_4978063876540275821_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFQU5nCDRybXHk5gXNP3OOZpIcbDNt-FVekhxsM234VV6PB8qTu5SDWHq3ZOBqtZa1M5Du7DJY6CuYnFEKAlKQo&_nc_ohc=uyVBjCE-6yYAX_ymPXA&_nc_ht=scontent.fbkk5-5.fna&oh=00_AfAENHvwXqZth6M-qPHDuqmBlrIEgLBhAO5LJUbollxe_w&oe=64E87E17"
              class="card-img-top img-fluid" alt="Profile Image" style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">นลธวัช วัฒนะวิวัฒน์เวช (น็อต)</h5>
              <p class="card-text">คณะ : วิทยาศาสตร์และเทคโนโลยี</p>
              <p class="card-text">รหัสนักศึกษา : 116410906128-6</p>
              <p class="card-text">เบอร์โทร : 0972326055</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>

  </body>

</html>